@charset "utf-8";

body{
	background: url(../img/bg.jpg)
}
/* banner-warp start*/
.banner-wrap{
	position: relative;
}
.banner-wrap .banner-list{
	width: 100%;
	height: 800px;
	padding-left: 0;
	margin-bottom: 0;
}
.banner-wrap .banner-list li{
	display: none;
	width: 100%;
	height: 100%;
	padding-left: 170px;
}
.banner-wrap .banner-nav{
	position: absolute;
	right: 60px;
	bottom: 30px;
}
.banner-wrap .banner-nav li{
	float: left;
	width: 120px;
	height: 80px;
	margin-left: 10px;
	-webkit-transition: margin-top 0.1s ease;
	-ms-transition:margin-top 0.1s ease;
	-moz-transition:margin-top 0.1s ease;
	-o-transition:margin-top 0.1s ease;
	transition:margin-top 0.1s ease;
}
.banner-nav li.active{
	margin-top: -20px;
	border: 3px solid #d4171a;
}

@media screen and (min-width:1600px){
	.banner-wrap {
		margin-left:260px;
	}
}
.list-content ul li{
	margin-top:10px;
}
/* banner end */